### Load previous records

In [2]:
import numpy as np
import pandas as pd
import requests as requests
from io import StringIO
import csv
import os
from datetime import datetime
import datetime
import pytz
from time import time
import matplotlib.pyplot as plt

In [3]:
df_old_records = pd.read_csv('Bike theft Berlin 2021-01 to 2022-12.csv')
df_old_records.head()

,Record_date,Record_day,Record_month,Record_year,Stealing_date,Stealing_hour,Report_stealing_date,Report_stealing_hour,Berlin_code_area,Bike_value,Unsuccesful_attempt,Bike_type,Crime_type,Crime_reason,Administrative_district,District,Quarter,Street_name
0,2022-12-01,1,12,2022,2022-12-01,8,2022-12-01,8,1300836,506,No,Bike,Theft,Aggravated theft,Mitte,Gesundbrunnen,Brunnenstraße Nord,Humboldthain Nordwest
1,2022-12-01,1,12,2022,2022-11-29,22,2022-11-30,17,1300732,718,No,Bike,Theft,Aggravated theft,Mitte,Gesundbrunnen,Osloer Straße,Soldiner Straße
2,2022-12-01,1,12,2022,2022-05-28,7,2022-05-28,14,6300526,569,No,Child,Theft,Aggravated theft,Steglitz-Zehlendorf,Zehlendorf Süd/Lichterfelde West,Teltower Damm,Zehlendorf Mitte
3,2022-12-01,1,12,2022,2022-11-21,9,2022-11-21,16,1100309,600,No,Child,Theft,Aggravated theft,Mitte,Zentrum,Alexanderplatz,Oranienburger Straße
4,2022-12-01,1,12,2022,2022-11-30,16,2022-12-01,11,3701659,400,No,Men,Theft,Aggravated theft,Pankow,Südlicher Prenzlauer Berg,Prenzlauer Berg Süd,Immanuelkirchstraße

In [4]:
df_old_records.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40694 entries, 0 to 40693
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Record_date              40694 non-null  object
 1   Record_day               40694 non-null  int64
 2   Record_month             40694 non-null  int64
 3   Record_year              40694 non-null  int64
 4   Stealing_date            40694 non-null  object
 5   Stealing_hour            40694 non-null  int64
 6   Report_stealing_date     40694 non-null  object
 7   Report_stealing_hour     40694 non-null  int64
 8   Berlin_code_area         40694 non-null  int64
 9   Bike_value               40694 non-null  int64
 10  Unsuccesful_attempt      40694 non-null  object
 11  Bike_type                40694 non-null  object
 12  Crime_type               40694 non-null  object
 13  Crime_reason             40694 non-null  object
 14  Administrative_district  40694 non-null  object
 15  District                 40694 non-null  object
 16  Quarter                  40694 non-null  object
 17  Street_name              40694 non-null  object
dtypes: int64(7), object(11)
memory usage: 5.6+ MB

#### Convert data type for the date columns: `Record_date`, `Stealing_date`,`Report_stealing_date`

In [5]:
df_old_records['Record_date'] = pd.to_datetime(df_old_records['Record_date'], dayfirst= True)
df_old_records['Stealing_date'] = pd.to_datetime(df_old_records['Stealing_date'], dayfirst= True)
df_old_records['Report_stealing_date'] = pd.to_datetime(df_old_records['Report_stealing_date'], dayfirst= True)

In [6]:
df_old_records.drop(['Record_day', 'Record_month', 'Record_year'], axis=1, inplace=True)
df_old_records.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40694 entries, 0 to 40693
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Record_date              40694 non-null  datetime64[ns]
 1   Stealing_date            40694 non-null  datetime64[ns]
 2   Stealing_hour            40694 non-null  int64
 3   Report_stealing_date     40694 non-null  datetime64[ns]
 4   Report_stealing_hour     40694 non-null  int64
 5   Berlin_code_area         40694 non-null  int64
 6   Bike_value               40694 non-null  int64
 7   Unsuccesful_attempt      40694 non-null  object
 8   Bike_type                40694 non-null  object
 9   Crime_type               40694 non-null  object
 10  Crime_reason             40694 non-null  object
 11  Administrative_district  40694 non-null  object
 12  District                 40694 non-null  object
 13  Quarter                  40694 non-null  object
 14  Street_name              40694 non-null  object
dtypes: datetime64[ns](3), int64(4), object(8)
memory usage: 4.7+ MB

### Load updated data from "Berlin Open Data" site

In [7]:
import pandas as pd
import requests
from io import StringIO

url = "https://www.polizei-berlin.eu/Fahrraddiebstahl/Fahrraddiebstahl.csv"

# Fetch the content from the URL
response = requests.get(url)

if response.status_code == 200:

    content = response.content.decode('latin-1')


    try:
        df_bikes = pd.read_csv(StringIO(content))

    except UnicodeDecodeError as e:
        print("Error decoding data:", e)
else:
    print("Failed to fetch data from the URL. Status code:", response.status_code)

In [8]:
df_bikes.head()

,ANGELEGT_AM,TATZEIT_ANFANG_DATUM,TATZEIT_ANFANG_STUNDE,TATZEIT_ENDE_DATUM,TATZEIT_ENDE_STUNDE,LOR,SCHADENSHOEHE,VERSUCH,ART_DES_FAHRRADS,DELIKT,ERFASSUNGSGRUND
0,25.07.2023,23.07.2023,22,24.07.2023,10,8100416,1600,Nein,Herrenfahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern
1,25.07.2023,23.07.2023,19,24.07.2023,21,1100103,1189,Nein,Damenfahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern
2,25.07.2023,25.07.2023,13,25.07.2023,13,2300418,0,Nein,Herrenfahrrad,Fahrraddiebstahl,Einfacher Diebstahl von Fahrrädern
3,25.07.2023,21.07.2023,16,24.07.2023,7,3701660,500,Nein,Damenfahrrad,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern
4,25.07.2023,24.07.2023,15,24.07.2023,19,8300934,1051,Nein,diverse Fahrräder,Fahrraddiebstahl,Sonstiger schwerer Diebstahl von Fahrrädern

### Procesing raw data

In [9]:
# renaming German names into English language to match the names with the old records

df_bikes.columns = ["Record_date", "Stealing_date", "Stealing_hour", "Report_stealing_date",
              "Report_stealing_hour", "Berlin_code_area", "Bike_value", "Unsuccesful_attempt",
              "Bike_type", "Crime_type", "Crime_reason"]

df_bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34837 entries, 0 to 34836
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Record_date           34837 non-null  object
 1   Stealing_date         34837 non-null  object
 2   Stealing_hour         34837 non-null  int64
 3   Report_stealing_date  34837 non-null  object
 4   Report_stealing_hour  34837 non-null  int64
 5   Berlin_code_area      34837 non-null  int64
 6   Bike_value            34837 non-null  int64
 7   Unsuccesful_attempt   34837 non-null  object
 8   Bike_type             34837 non-null  object
 9   Crime_type            34837 non-null  object
 10  Crime_reason          34837 non-null  object
dtypes: int64(4), object(7)
memory usage: 2.9+ MB

In [10]:
df_bikes['Unsuccesful_attempt'].unique()

array(['Nein', 'Ja', 'Unbekannt'], dtype=object)

In [11]:
#rename values in 'Unsuccesful_attempt' column

df_bikes["Unsuccesful_attempt"].replace({'Nein' : 'No', 'Ja' : 'Yes', 'Unbekannt' : 'Unknown'}, inplace=True)

df_bikes['Unsuccesful_attempt'].unique()

array(['No', 'Yes', 'Unknown'], dtype=object)

In [12]:
df_bikes["Crime_type"].replace(to_replace=["Fahrraddiebstahl", "Keller- und Bodeneinbruch"], 
                         value=["Theft", "Break-in"], inplace=True)

In [13]:
df_bikes["Bike_type"].replace({"Herrenfahrrad" : "Men", "Damenfahrrad" : "Women", "Fahrrad" : "Bike", 
                         "Mountainbike" : "Mountain", "Kinderfahrrad" : "Child", 
                         "Diverse Fahrräder" : "Bike", "Rennrad" : "Racing", "Lastenfahrrad" : "Cargo"}, inplace=True)

df_bikes['Bike_type'].value_counts()

Men                  16157
Women                 9387
Bike                  4888
Mountain              1448
Child                 1410
diverse Fahrräder      914
Racing                 537
Cargo                   96
Name: Bike_type, dtype: int64

### Change type of category Crime_reason

In [14]:
# Category aggrevated theft = theft with break-in, theft with robbery (aggresor has to use force)

df_bikes["Crime_reason"].replace(to_replace=["Sonstiger schwerer Diebstahl von Fahrrädern", 
                                       "Einfacher Diebstahl von Fahrrädern",
                                       "Sonstiger schwerer Diebstahl in/aus Keller/Boden von Fahrrädern", 
                                       "Einfacher Diebstahl aus Keller/Boden von Fahrrädern"],
                           value=["Aggravated theft", "Theft", "Aggravated theft from basement/floor", 
                                  "Theft from basement/floor"], inplace=True)

df_bikes['Crime_reason'].value_counts()

Aggravated theft                        31418
Theft                                    1735
Aggravated theft from basement/floor     1621
Theft from basement/floor                  63
Name: Crime_reason, dtype: int64

 ### Converting columns type from object to a datetime format

In [15]:
df_bikes['Record_date'] = pd.to_datetime(df_bikes['Record_date'], dayfirst= True)
df_bikes['Stealing_date'] = pd.to_datetime(df_bikes['Stealing_date'], dayfirst= True)
df_bikes['Report_stealing_date'] = pd.to_datetime(df_bikes['Report_stealing_date'], dayfirst= True)

In [16]:
df_bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34837 entries, 0 to 34836
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Record_date           34837 non-null  datetime64[ns]
 1   Stealing_date         34837 non-null  datetime64[ns]
 2   Stealing_hour         34837 non-null  int64
 3   Report_stealing_date  34837 non-null  datetime64[ns]
 4   Report_stealing_hour  34837 non-null  int64
 5   Berlin_code_area      34837 non-null  int64
 6   Bike_value            34837 non-null  int64
 7   Unsuccesful_attempt   34837 non-null  object
 8   Bike_type             34837 non-null  object
 9   Crime_type            34837 non-null  object
 10  Crime_reason          34837 non-null  object
dtypes: datetime64[ns](3), int64(4), object(4)
memory usage: 2.9+ MB

## Load csv file with LOR (Lebensweltlich orientierte Räume (LOR) = Spatial Planning Unit for Berlin)

The dataset was prepared in advance. File contain columns:
- Berlin_code_area
- Administrative_district
- District
- Quater
- Street_name

In [17]:
df_lor = pd.read_csv('BER_LOR_code.csv')
df_lor

,Berlin_code_area,Administrative_district,District,Quarter,Street_name
0,1100101,Mitte,Zentrum,Tiergarten Süd,Stülerstraße
1,1100102,Mitte,Zentrum,Tiergarten Süd,Großer Tiergarten
2,1100103,Mitte,Zentrum,Tiergarten Süd,Lützowstraße
3,1100104,Mitte,Zentrum,Tiergarten Süd,Körnerstraße
4,1100205,Mitte,Zentrum,Regierungsviertel,Wilhelmstraße
...,...,...,...,...,...
537,12601032,Reinickendorf,Märkisches Viertel,Rollbergesiedlung,Rollbergesiedlung
538,12601133,Reinickendorf,Märkisches Viertel,MV Nord,Treuenbrietzener Straße
539,12601134,Reinickendorf,Märkisches Viertel,MV Nord,Märkisches Zentrum
540,12601235,Reinickendorf,Märkisches Viertel,MV Süd,Dannenwalder Weg
541,12601236,Reinickendorf,Märkisches Viertel,MV Süd,Schorfheidestraße

### Join the updated data `df_bikes` with the LOR data on the `Berlin_code_area` column

In [18]:
df_bikes_new = pd.merge(df_bikes, df_lor, on='Berlin_code_area', how='left')
df_bikes_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34837 entries, 0 to 34836
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Record_date              34837 non-null  datetime64[ns]
 1   Stealing_date            34837 non-null  datetime64[ns]
 2   Stealing_hour            34837 non-null  int64
 3   Report_stealing_date     34837 non-null  datetime64[ns]
 4   Report_stealing_hour     34837 non-null  int64
 5   Berlin_code_area         34837 non-null  int64
 6   Bike_value               34837 non-null  int64
 7   Unsuccesful_attempt      34837 non-null  object
 8   Bike_type                34837 non-null  object
 9   Crime_type               34837 non-null  object
 10  Crime_reason             34837 non-null  object
 11  Administrative_district  34837 non-null  object
 12  District                 34837 non-null  object
 13  Quarter                  34837 non-null  object
 14  Street_name              34837 non-null  object
dtypes: datetime64[ns](3), int64(4), object(8)
memory usage: 4.3+ MB

### Concatenate old and new data into a new df

In [19]:
df_merged = pd.concat([df_old_records,df_bikes_new], ignore_index=True)
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75531 entries, 0 to 75530
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Record_date              75531 non-null  datetime64[ns]
 1   Stealing_date            75531 non-null  datetime64[ns]
 2   Stealing_hour            75531 non-null  int64
 3   Report_stealing_date     75531 non-null  datetime64[ns]
 4   Report_stealing_hour     75531 non-null  int64
 5   Berlin_code_area         75531 non-null  int64
 6   Bike_value               75531 non-null  int64
 7   Unsuccesful_attempt      75531 non-null  object
 8   Bike_type                75531 non-null  object
 9   Crime_type               75531 non-null  object
 10  Crime_reason             75531 non-null  object
 11  Administrative_district  75531 non-null  object
 12  District                 75531 non-null  object
 13  Quarter                  75531 non-null  object
 14  Street_name              75531 non-null  object
dtypes: datetime64[ns](3), int64(4), object(8)
memory usage: 8.6+ MB

### Remove duplicates (records from 2022 are repeated)

In [20]:
df = df_merged.drop_duplicates()

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55004 entries, 0 to 75524
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Record_date              55004 non-null  datetime64[ns]
 1   Stealing_date            55004 non-null  datetime64[ns]
 2   Stealing_hour            55004 non-null  int64
 3   Report_stealing_date     55004 non-null  datetime64[ns]
 4   Report_stealing_hour     55004 non-null  int64
 5   Berlin_code_area         55004 non-null  int64
 6   Bike_value               55004 non-null  int64
 7   Unsuccesful_attempt      55004 non-null  object
 8   Bike_type                55004 non-null  object
 9   Crime_type               55004 non-null  object
 10  Crime_reason             55004 non-null  object
 11  Administrative_district  55004 non-null  object
 12  District                 55004 non-null  object
 13  Quarter                  55004 non-null  object
 14  Street_name              55004 non-null  object
dtypes: datetime64[ns](3), int64(4), object(8)
memory usage: 6.7+ MB

### df to a `.csv` file

In [22]:
df.to_csv('df_final.csv', index=False)

### Getting demographic data from wikipedia using BeautifulSoup library

In [97]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [98]:
url = 'https://de.wikipedia.org/wiki/Verwaltungsgliederung_Berlins'

response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

# Find all tables on the page with the 'wikitable' class
tables = soup.find_all('table', class_='wikitable')

# Select the second table (index 1) from the list of tables
table = tables[1]

# Extract data from the table and store it in a list of lists
data = []
for row in table.find_all('tr'):
    row_data = [cell.get_text(strip=True) for cell in row.find_all(['th', 'td'])]
    data.append(row_data)

df_demo = pd.DataFrame(data[1:], columns=data[0])

In [99]:
df_demo

,Nr.,Ortsteil,Bezirk,Fläche(km²),Einwohner[2](31. Dezember 2022),Einwohnerpro km²
0,0101,Mitte,Mitte,"10,70",107.444,10.041
1,0102,Moabit,Mitte,"7,72",84.148,10.900
2,0103,Hansaviertel,Mitte,"0,53",6.070,11.453
3,0104,Tiergarten,Mitte,"5,17",16.140,3122
4,0105,Wedding,Mitte,"9,23",86.514,9373
...,...,...,...,...,...,...
92,1207,Waidmannslust,Reinickendorf,"2,30",11.240,4887
93,1208,Lübars,Reinickendorf,"5,00",5.092,1018
94,1209,Wittenau,Reinickendorf,"5,90",25.346,4296
95,1210,Märkisches Viertel,Reinickendorf,"3,20",41.099,12.843
96,1211,Borsigwalde,Reinickendorf,"2,00",6.911,3456

### Rename columns to English

In [103]:
df_demo.columns = ["Nr","District","Administrative_district","Area [km²]","Population","Population per km²"]

In [104]:
df_demo.head()

,Nr,District,Administrative_district,Area [km²],Population,Population per km²
0,0101,Mitte,Mitte,"10,70",107.444,10.041
1,0102,Moabit,Mitte,"7,72",84.148,10.900
2,0103,Hansaviertel,Mitte,"0,53",6.070,11.453
3,0104,Tiergarten,Mitte,"5,17",16.140,3122
4,0105,Wedding,Mitte,"9,23",86.514,9373

#### Export the df to a csv file

In [105]:
df_demo.to_csv('df_demo.csv', index=False)