In [1]:
pip install googlemaps

Collecting googlemaps
  Downloading googlemaps-4.10.0.tar.gz (33 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: requests<3.0,>=2.20.0 in /Users/tomas.renaudo/anaconda3/lib/python3.10/site-packages (from googlemaps) (2.29.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/tomas.renaudo/anaconda3/lib/python3.10/site-packages (from requests<3.0,>=2.20.0->googlemaps) (2023.5.7)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/tomas.renaudo/anaconda3/lib/python3.10/site-packages (from requests<3.0,>=2.20.0->googlemaps) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/tomas.renaudo/anaconda3/lib/python3.10/site-packages (from requests<3.0,>=2.20.0->googlemaps) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/tomas.renaudo/anaconda3/lib/python3.10/site-packages (from requests<3.0,>=2.20.0->googlemaps) (1.26.14)
Building wheels for collected packages: googlemaps
  Building wheel for googlemaps (setup.py) ... done
  Created wheel for googlemaps: filename=googlemaps-4.10.0-py3-none-any.whl size=40717 sha256=82dff45dcd8cbe1f1f3ef4d2a2e7feff4d1cbdbc3e0f37f995ff69199160dd29
  Stored in directory: /Users/tomas.renaudo/Library/Caches/pip/wheels/ca/e3/07/3a193cac660b6210a88180b659cb251f941cbff99a0f556136
Successfully built googlemaps
Installing collected packages: googlemaps
Successfully installed googlemaps-4.10.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import googlemaps
from googlemaps.exceptions import ApiError

In [2]:
def get_latitude_longitude(api_key, address):
    gmaps = googlemaps.Client(key=api_key)
    try:
        geocode_result = gmaps.geocode(address)
        if geocode_result:
            latitude = geocode_result[0]['geometry']['location']['lat']
            longitude = geocode_result[0]['geometry']['location']['lng']
            return latitude, longitude
        else:
            return None, None
    except ApiError as e:
        print(f"Error occurred: {e}")
        return None, None

In [4]:
df = pd.read_csv('missing_values.csv')
df

             Street name  Latitude  Longitude
0    Afrikanische Straße       NaN        NaN
1     Ahrensfelder Berge       NaN        NaN
2          Alt-Bohnsdorf       NaN        NaN
3    Alt-Friedrichshagen       NaN        NaN
4        Alt-Heiligensee       NaN        NaN
..                   ...       ...        ...
193  Wolfshagener Straße       NaN        NaN
194    Wriezener Bahnhof       NaN        NaN
195            Wuhlheide       NaN        NaN
196        Zachertstraße       NaN        NaN
197      Zossener Straße       NaN        NaN

[198 rows x 3 columns]

In [5]:
# Replace 'YOUR_API_KEY' with your actual Google Maps API key
api_key = ''

# Create empty lists to store latitude and longitude
latitudes = []
longitudes = []

for street_name in df['Street name']:
    address = street_name
    latitude, longitude = get_latitude_longitude(api_key, address)
    latitudes.append(latitude)
    longitudes.append(longitude)

# Add latitude and longitude columns to the DataFrame
df['Latitude'] = latitudes
df['Longitude'] = longitudes

In [6]:
df

             Street name   Latitude  Longitude
0    Afrikanische Straße  52.560474  13.334295
1     Ahrensfelder Berge  52.556316  13.581653
2          Alt-Bohnsdorf  52.399001  13.570637
3    Alt-Friedrichshagen  52.461374  13.640606
4        Alt-Heiligensee  52.607062  13.212854
..                   ...        ...        ...
193  Wolfshagener Straße  52.573372  13.412914
194    Wriezener Bahnhof  52.511073  13.441439
195            Wuhlheide  52.462047  13.545383
196        Zachertstraße  52.505904  13.507444
197      Zossener Straße  52.493263  13.394912

[198 rows x 3 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Street name  198 non-null    object
 1   Latitude     173 non-null    float64
 2   Longitude    173 non-null    float64
dtypes: float64(2), object(1)
memory usage: 4.8+ KB

In [9]:
df.to_csv('missing_2.csv', index=False)